.container{
    margin-top: 1em;
}
body{
    background-color:#e6e6fa;
}
table{
    background-color: lavender;
    margin-top: 1em;
    width: 100%;
    border-radius: 5px;
    display: table;
}
thead{
    background-color: #4f4f4f;
}
th{
    text-shadow: 1px 1px 1px #666666;
    text-align: center;
}
th > a{
    color: lightgray;
    text-decoration: none;
}
th > a:hover{
    color: steelblue;
}
.div_formulario{
    background-color: #f8f9fa;
    padding:1em;
    margin: 0 auto;
    border-radius: 5px;
}
.btn imagem {
    display:flex;
    align-items: center;
}
.col{
    display: flex;
    justify-content: center;
}
button:hover{
    opacity: 80%;
}
.botao_grande{
    width: 90%;
    box-shadow: 3px 3px 3px #535353;
    background-color:steelblue;
    color: #fefefe;
}
.botao_grande:hover{
    color: #fefefe;
    background-color:dodgerBlue;
}
.botao_medio{
    width: 40%;
    box-shadow: 3px 3px 3px #535353;
    background-color:steelblue;
    color: #fefefe;
    margin: 0 auto;
}
.botao_medio:hover{
    color: #fefefe;
    background-color:dodgerBlue;
}
#tempgrid1{
    margin-right: 2.3em;
}
#inputFormRow input{
    width:5em;
    margin-bottom: 10px;
}
#addRow{
    margin-bottom: 10px;
}
#removeRow{
    margin-left: 10px;
    width: 3em;
}
#newRow{
    color: white;
}
.form-floating{
    margin:1em 0;
    width: 30em;
    margin: 1em auto;
}
label{
    color: steelblue;
}

.torra table{
    margin: 10px 10px;
}
.torra td{
    text-align: end;
}
.danger_hover:hover{
    color: red;
    text-decoration: underline;
}
.dropup{
    display: block;
    margin: 1em 0;
}
.link_info{
    color: #000;
    text-decoration: underline;
}
.link_info:hover{
    color:red;
    text-decoration: underline;
    opacity: 80%;
}
.form-check-label{
    color: #000;
    font-size: 0.9em;
    opacity: .65;
}
.semestoque{
    opacity: 40%;
}
.navegacao{
    box-shadow: 5px 5px 5px #666666;
}
li:hover{
    text-shadow: 1px 1px 1px #666666;
    text-align: center;
}

#torras_ids{
    margin-right: 0px;
    display: inline-block;
    border-color: #1a76fb;
    color: #1a76fb;
    background-color:#fefefe;
}
.divGrid{
    border: #e6e6fa 1px solid;
    width:70%;
    border-radius: 5px;
    background-color: steelblue;
}

input.inputGrid::placeholder{
    color: #1a76fb;
    opacity: 35%;
    text-align: right;
}
input.inputGrid{
    font-size:1.5em;
    text-align: right;
}
.nav-link:hover{
    color: steelblue !important;
}
.form-control-lg, .form-select-lg{
    border: solid steelblue 1px;
}
.tabela_torra td{
    text-align: end;
}
em{
    color: #1a76fb;
    opacity: 35%;
    background-color:lightpink;
}
li > a{
    margin: 0 1em;
    width: 5em;
    opacity: 50%;
}
th > a:after{
    content: '↓'
}