<!doctype html>
<html lang='pt-br'>

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="static/img/favicon.png">
    <link href="/static/css/reset.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" rel='stylesheet'></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>


</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-dark navegacao">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    {% if session['usuario'] %}
                    <li class="nav-item">
                        <a class='text-light nav-link btn btn-lg btn-outline-light' href="/cafes">cafés</a>
                    </li>
                    <li class="nav-item">
                        <a class='text-light nav-link btn btn-lg btn-outline-light' href="/torras">torras</a>
                    </li>
                    <li class="nav-item">
                        <a class='text-light nav-link btn btn-lg btn-outline-danger' href="/logoff">logoff</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}

    {% endblock %}

</body>

</html>