{% extends 'base.html' %}

{% block body %}
<section>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <a class='btn btn-success botao_grande' href='/form_cafe'>
                    inserir novo café
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <table class="table table-light table-hover">
                    <thead class='table-secondary'>
                        <tr>
                            <th>id</th>
                            <th>descrição</th>
                            <th>peso comprado</th>
                            <th>data da compra</th>
                            <th>origem</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cafe in cafes %}
                        <tr {% if cafe[5] == 0%}class='semestoque'{% endif %}>
                            <td class='text-end'>{{cafe[0]}}</td>
                            <td><a href=# title='{{cafe[1]}}' class='link_info'>{{cafe[1][:20]}}</a></td>
                            <td class='text-end'>{{cafe[2]|replace('.',',')}}</td>
                            <td class='text-end'>{{cafe[3]}}</td>
                            <td><a href=# title='{{cafe[4]}}' class='link_info'>{{cafe[4][:20]}}</a></td>
                            <td class='text-center' title='editar'><a href="/form_cafe?id={{cafe[0]}}">📝</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}