{% extends 'base.html' %}

{% block body %}
<div class='container-lg form_torra' style='display: flex;'>
    <div class='div_formulario mt-3'>
        <form action="/update_torra" method='post' id='form-torra'>

            {% for valor in torra %}
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='cafe'>descrição do café</label>
                <input type='hidden' name='id' id='id' value={{valor[0]}}>
                {{select_cafes|safe}}
                
            </div>
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='temp_inicial'>temperatura inicial</label>
                <input value='{{valor[2]|replace("None","")}}' class='form-control-lg w-100' type='number'
                    step='0.01' name='temp_inicial' id='temp_inicial'>
                
            </div>
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='temp_final'>temperatura final</label>
                <input value='{{valor[3]|replace("None","")}}' class='form-control-lg w-100' type='number'
                    step='0.01' name='temp_final' id='temp_final'>
                
            </div>

            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='piso'>piso</label>
                <input value='{{valor[4]|replace("None","")}}' class='form-control-lg w-100' type='number'
                    step='0.01' name='piso' id='piso'>
                
            </div>

            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='fluxo_ar'>fluxo de ar</label>
                <input value='{{valor[6]|replace("None","")}}' class='form-control-lg w-100' type='number'
                    step='0.01' name='fluxo_ar' id='fluxo_ar'>
                
            </div>

            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='velocidade_tambor'>velocidade do tambor</label>
                <input value='{{valor[7]|replace("None","")}}' class='form-control-lg w-100' type='number'
                    step='0.01' name='velocidade_tambor' id='velocidade_tambor'>
                
            </div>

            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='peso'>peso</label>
                <input value='{{valor[8]|replace("None","")}}' class='form-control-lg w-100' type='number'
                    step='0.01' name='peso' id='peso'>
                
            </div>
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='data' style='display:block;text-align:right;'>data da torra</label>
                <input value='{{data}}' class='form-control-lg w-100' type='date' name='data' id='data'>
                
            </div>
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label for='data' class='form-label' style='display:block;text-align:right;'>observações</label>
                <textarea class='form-control-lg w-100' type='date' name='observacoes'
                    id='observacoes'>{{valor[10]|replace('None','')}}</textarea>
                
            </div>
            {% endfor %}

            <table class='table' style='border: 1px steelblue solid;'>
                <tr>
                    <td>

                        <div class='container-lg'>
                            {{grid_torra|safe}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>

                        <div class='border p-3 w-100 mx-auto mt-3 d-flex'>
                            <button type='submit' class='btn btn-lg botao_medio'>salvar</button>
                        </div>
                    </td>
                </tr>

        </form>
        {% endblock %}