{% extends 'base.html' %}

{% block body %}
<section>
    <div class='container-lg' style='display: flex;'>
        <div class='div_formulario mt-3 vw-100'>
            {% if id %}
            <form method='post' action='update_cafe' class="needs-validation">
                {% for valor in cafe %}
                <input type='hidden' name='id' value='{{valor[0]}}'>
                <div class="border p-3 w-100 mx-auto mt-3">
                    <label for='descricao' class='form-label'>descrição do café</label>
                    <textarea required class='form-control-lg w-100' id='descricao'
                        name='descricao'>{{ valor[1] |replace("None","")}}</textarea>
                </div>
                <div class="border p-3 w-100 mx-auto mt-3 mt-3">
                    <label for='quantidade' class='form-label'>quantidade comprada</label>
                    <input required value='{{valor[2]|replace("None","")}}' class='form-control-lg w-100' type='number'
                        step='0.01' name='quantidade' id='quantidade'>

                </div>
                <div class="border p-3 w-100 mx-auto mt-3 mt-3">
                    <label for='data_compra'>data da compra </label>
                    <input required value='{{ valor[3] |replace("None","")}}' class='form-control-lg w-100' type='date'
                        name='data_compra' id='data_compra'>

                </div>
                <div class="border p-3 w-100 mx-auto mt-3 mt-3">
                    <label for='origem'>origem</label>
                    <input required value='{{ valor[4] |replace("None","")}}' class='form-control-lg w-100' type='text'
                        name='origem' id='origem'>

                </div>
                <div class="border p-3 w-100 mt-3 rounded text-center" style='padding: 0.2em 1em;'>
                    <input class="btn-check" {% if valor[5]==1 %} checked {% endif %} type="radio" name="estoque"
                        id="estoqueRadio1" autocomplete="off" value="1">
                    <label class="btn btn-lg btn-outline-success" for="estoqueRadio1">com estoque</label>
                    <input class="btn-check" {% if valor[5]==0 %} checked {% endif %} type="radio" name="estoque"
                        id="estoqueRadio2" autocomplete="off" value="0">
                    <label class="btn btn-lg btn-outline-danger" for="estoqueRadio2">sem estoque</label>
                </div>
                {% endfor %}
                {% else %}
                <form method='post' action='insere_cafe' class="needs-validation">
                    <div class="border p-3 w-100 mx-auto mt-3">
                        <label for='descricao'>descrição do café</label>
                        <textarea required class='form-control-lg w-100' id='descricao' name='descricao'></textarea>
                        
                    </div>
                    <div class="border p-3 w-100 mx-auto mt-3">
                        <label for='quantidade'>quantidade comprada</label>
                        <input required class='form-control-lg w-100' type='number' step='0.01' name='quantidade'
                            id='quantidade'>
                        
                    </div>
                    <div class="border p-3 w-100 mx-auto mt-3">
                        <label for='data_compra'>data da compra </label>
                        <input value='{{data_hoje}}' required class='form-control-lg w-100' type='date' name='data_compra'
                            id='data_compra'>
                        
                    </div>
                    <div class="border p-3 w-100 mx-auto mt-3">
                        <label for='origem'>origem</label>
                        <input required class='form-control-lg w-100' type='text' name='origem' id='origem'>
                        
                    </div>
                    <div class="border p-3 w-100 mt-3 rounded text-center" style='padding: 0.2em 1em;'>
                        <input class="btn-check" checked type="radio" name="estoque"
                            id="estoqueRadio1" autocomplete="off" value="1">
                        <label class="btn btn-lg btn-outline-success" for="estoqueRadio1">com estoque</label>
                        <input class="btn-check" type="radio" name="estoque"
                            id="estoqueRadio2" autocomplete="off" value="0">
                        <label class="btn btn-lg btn-outline-danger" for="estoqueRadio2">sem estoque</label>
                    </div>
                    {% endif %}
                    <div class="border p-3 w-100 mt-3 rounded text-center" style='padding: 0.2em 1em;'>
                        <button style='margin: 0 auto; display: block;' class='btn btn-lg btn-primary botao_medio'
                            type='submit'>salvar</button>
                    </div>
                    {% if id %}
                    <div class="border p-3 w-100 mt-3 rounded text-center" style='padding: 0.2em 1em;'>
                        <div class="btn-group dropup">
                            <button style='margin: 0 auto; display: block; margin-bottom: 1em;' type="button"
                                class="btn btn-lg btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                apagar
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item danger_hover" href="/apaga_cafe?id={{id}}">apagar</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </form>
        </div>
    </div>
</section>
{% endblock %}