{% extends 'base.html' %}

{% block body %}

<div class='container form_torra'>
    <form action="insere_torra" method='post'>
        <section>
            <div class='form-floating'>                    
                {{select_cafes|safe}}
                <label for='cafe'>descrição do café</label>
            </div>
            <div class='form-floating'>
                <input class='form-control fit_content' type='number' name='temp_inicial' id='temp_inicial'>
                <label for='temp_inicial'>temperatura inicial</label>
            </div>
            <div class='form-floating'>
                <input class='form-control fit_content' type='number' name='temp_final' id='temp_final'>
                <label for='temp_final'>temperatura final</label>
            </div>

            <div class='form-floating'>
                <input class='form-control fit_content' type='number' name='piso' id='piso'>
                <label for='piso'>piso</label>
            </div>

            <div class='form-floating'>
                <input class='form-control fit_content' type='number' name='fluxo_ar' id='fluxo_ar'>
                <label for='fluxo_ar'>fluxo de ar</label>
            </div>

            <div class='form-floating'>
                <input class='form-control fit_content' type='number' name='velocidade_tambor' id='velocidade_tambor'>
                <label for='velocidade_tambor'>velocidade do tambor</label>
            </div>

            <div class='form-floating'>
                <input class='form-control fit_content' type='number' name='peso' id='peso'>
                <label for='peso'>peso</label>
            </div>
            <div class='form-floating'>
                <input class='form-control fit_content' type='date' name='data' id='data'>
                <label for='data' style='display:block;text-align:right;'>data da torra</label>
            </div>
            <div class='form-floating'>
                <textarea class='form-control' type='date' name='observacoes' id='observacoes'></textarea>
                <label for='data' style='display:block;text-align:right;'>observações</label>
            </div>
        </section>

        <section>
            <div class='row justify-content-center' style='margin: 1em 0;'>
                <div class='col-lg-3 col-md-5 col-sm-5 col-xs-5 bg-dark border-dark'
                    style='border: 0 1em; margin: 0 auto; text-align: center;'>
                    <div id="inputFormRow">
                        <div class='tempgrid mt-2'>
                            <h4 style='color:#fefefe'>grid</h4>
                        </div>
                        <div class='tempgrid mt-2'>
                            <input type="number" id='tempgrid1' name="tempgrid1" autocomplete="off"
                                style='margin-right: 4em;'>
                        </div>
                    </div>

                    <div id="newRow"></div>

                    <button id="addRow" type="button" class='btn btn-outline-success btn-sm' style='width: 9em;'>
                        ✚
                    </button>
                </div>
            </div>
        </section>
        <section>
            <div class='form-floating'>
                <button type='submit' class='btn btn-success w-100'>salvar</button>
            </div>
        </section>
    </form>
</div>


<script type="text/javascript">
    // add row
    var tempgrid = 1;
    $("#addRow").click(function () {
        var html = '';
        tempgrid += 1
        html += '<div id="inputFormRow">';
        html += '<input type="number" class="inputGrid" id="tempgrid2" name="tempgrid' + tempgrid + '" autocomplete="off" style="width:4em">';
        html += '<button id="removeRow" type="button" class="btn btn-danger btn-sm" style="width:4em">X</button>';
        html += '</div>';

        $('#newRow').append(html);
        $('html,body').animate({scrollTop: document.body.scrollHeight},"fast");
        $("form").find("input:last").focus()
    });

    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
    });

</script>
{% endblock %}