{% extends 'base.html' %}

{% block body %}
<script type="text/javascript">{{ js }}</script>
<div class='container-lg form_torra' style='display: flex;'>
    <div class='div_formulario mt-3 vw-100'>
        <form action="insere_torra" method='post' id='form-torra' class='needs-validation' novalidate>
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='data'>data da torra</label>
                <input required class='form-control-lg w-100' value='{{data_hoje}}' type='date' name='data' id='data'>

            </div>
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='cafe'>descrição do café</label>
                {{select_cafes|safe}}

            </div>
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='peso'>peso <em>{{torra[8]}}</em></label>
                <input class='form-control-lg w-100' type='number' step='0.01' name='peso' id='peso'>

            </div>
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' id='label_temp_inicial' for='temp_inicial'>temperatura inicial
                    <em>{{torra[2]}}</em></label>
                <input required class='form-control-lg w-100' type='number' step='0.01' name='temp_inicial'
                    id='temp_inicial'>
            </div>


            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='fluxo_ar'>fluxo de ar <em>{{torra[6]}}</em></label>
                <input class='form-control-lg w-100' type='number' step='0.01' name='fluxo_ar' id='fluxo_ar'>

            </div>

            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='velocidade_tambor'>velocidade do tambor <em>{{torra[7]}}</em></label>
                <input class='form-control-lg w-100' type='number' step='0.01' name='velocidade_tambor'
                    id='velocidade_tambor'>

            </div>




            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='piso'>piso <em>{{torra[4]}}</em></label>
                <input class='form-control-lg w-100' type='number' step='0.01' name='piso' id='piso'>
            </div>

            <table class='table' style='border: 1px steelblue solid;'>
                <tr>
                    <td>
                        <div class='row justify-content-center' style='margin: 1em 0;'>
                            <div class='divGrid' style='margin: 0 auto; text-align: center;'>
                                <div id="inputFormRow">
                                    <div class='tempgrid mt-2'>
                                        <h5 style='color: #e6e6fa'>GRID</h5>
                                    </div>
                                    <div class='tempgrid mt-2'>
                                        <input type="number" step='0.01' class='inputGrid' id='tempgrid1'
                                            name="tempgrid1" autocomplete="off" style='width: 4em !important'>
                                    </div>
                                </div>

                                <div id="newRow"></div>

                                <button id="addRow" type="button" class='btn btn-outline-light btn-lg'
                                    style='width: 9em;'>
                                    ✚
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                
            </table>
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='temp_final'>temperatura final <em>{{torra[3]}}</em></label>
                <input class='form-control-lg w-100' required type='number' step='0.01' name='temp_final'
                    id='temp_final'>

            </div>
            <div class='border p-3 w-100 mx-auto mt-3'>
                <label class='form-label' for='data'>observações</label>
                <textarea class='form-control-lg w-100' type='date' name='observacoes' id='observacoes'></textarea>

            </div>
            <table class='table' style='border: 1px steelblue solid;'>
            <tr>
                <td>
                    <div class='border p-3 w-100 mx-auto mt-3 d-flex'>
                        <button type='submit' class='btn btn-lg botao_medio'>salvar</button>
                    </div>
                </td>
            </tr>
            </table>
        </form>
    </div>
</div>


<script type="text/javascript">

    // add row
    var tempgrid = 1;
    if (temperaturas.length > 0) {
        temperaturas.shift();
        document.getElementById("tempgrid1").setAttribute("placeholder", temperaturas.shift());
    }
    $("#addRow").click(function () {
        var html = '';

        tempgrid += 1
        html += '<div id="inputFormRow">';
        if (temperaturas.length > 0) {
            html += '<input placeholder="' + temperaturas.shift() + '" type="number" step="0.01" class="inputGrid" name="tempgrid' + tempgrid + '" autocomplete="off" style="width:4em">';
        } else {
            html += '<input type="number" step="0.01" class="inputGrid" name="tempgrid' + tempgrid + '" autocomplete="off" style="width:5em">';
        }
        html += '<button id="removeRow" type="button" title="apaga o campo ' + tempgrid + '" class="btn btn-danger btn-md mb-2">' + tempgrid + '</button><br>';
        html += '</div>';

        $('#newRow').append(html);
        $('html,body').animate({ scrollTop: document.body.scrollHeight }, "fast");
        $("form").find(".inputGrid:last").focus();
    });

    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
    });

    document.querySelector('#form-torra').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            $('#addRow').click();
            event.preventDefault();
        }
    });

</script>
{% endblock %}