{% extends 'base.html' %}

{% block body %}
<section>
    <div class='container torra'>
        <div class='row'>
            <div class='col'>
                <table class='table table-dark table-hover'>
                    {% for valor in torra %}
                    <tr>
                        <td>
                            temperatura inicial
                        </td>
                        <td>
                            {{valor[2]|replace('.',',')}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            temperatura final
                        </td>
                        <td>
                            {{valor[3]|replace('.',',')}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            piso
                        </td>
                        <td>
                            {{valor[4]|replace('.',',')}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            fluxo de ar
                        </td>
                        <td>
                            {{valor[6]|replace('.',',')}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            velocidade do tambor
                        </td>
                        <td>
                            {{valor[7]|replace('.',',')}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            peso
                        </td>
                        <td>
                            {{valor[8]|replace('.',',')}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            data da torra
                        </td>
                        <td>
                            {{valor[9]}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            {{valor[10] | replace('None','')}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            {{ descricao_cafe}}
                        </td>
                    </tr>

                    {% endfor %}
                </table>
                <table class='table table-hover table-dark'>
                    <tr>
                        <th>minuto</th>
                        <th>temperatura</th>
                    </tr>
                    {% for a,b in grid_torra.items() %}
                        <tr>
                            <td>{{a|replace('tempgrid','')}}</td>
                            <td>{{b[0]}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <img class='img-fluid' src='static/img/grafico.png?r={{randomico}}'>
    </div>
</section>
<footer>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <div class="btn-group dropup">
                    <button style='margin-bottom: 1em;'type="button" class="btn-sm btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      editar
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/edita_torra?id={{id}}">editar</a></li>
                    </ul>
                  </div>
            </div>
            <div class='col'>
                <div class="btn-group dropup">
                    <button style='margin-bottom: 1em;'type="button" class="btn-sm btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      apagar
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item danger_hover" href="/apaga_torra?id={{id}}">apagar</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}