{% extends 'base.html' %}

{% block body %}
<section>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <a class='btn btn-dark botao_grande' href='/form_torra'>
                    inserir nova torra
                </a>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <table class='table table-hover torras'>
                    <form name='torras' method='post' action='/compara_torras'>
                        <thead class='table-secondary'>
                            <tr>
                                <th>
                                    id
                                </th>
                                <th>
                                    id do café
                                </th>
                                <th>
                                    temp. inicial
                                </th>
                                <th>
                                    temp. final
                                </th>
                                <th>
                                    temp. piso
                                </th>
                                <th>
                                    fluxo de ar
                                </th>
                                <th>
                                    vel. do tambor
                                </th>
                                <th>
                                    peso
                                </th>
                                <th>
                                    data da torra
                                </th>
                                <th>
                                    comparar
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                            </tr>
                        </thead>
                        <tbody class='table-light'>
                            <tr>

                                {% for torra in torras%}
                                <td class='text-end'>
                                    {{torra[0]}}
                                </td>
                                {% for descricao in descricao_cafes %}
                                {% if torra[1] == descricao[1] %}
                                <td class='text-end'>
                                    <a href=# class='link_info' title='{{descricao[0]}}'>{{torra[1]}}</a>
                                </td>
                                {% endif %}
                                {% endfor %}
                                <td class='text-end'>
                                    {{torra[2]|replace('.',',')}}
                                </td>
                                <td class='text-end'>
                                    {{torra[3]|replace('.',',')}}
                                </td class='text-end'>
                                <td class='text-end'>
                                    {{torra[4]|replace('.',',')}}
                                </td>
                                <td class='text-end'>
                                    {{torra[6]|replace('.',',')}}
                                </td>
                                <td class='text-end'>
                                    {{torra[7]|replace('.',',')}}
                                </td>
                                <td class='text-end'>
                                    {{torra[8]|replace('.',',')}}
                                </td>
                                <td class='text-end'>
                                    {{torra[9]}}
                                </td>
                                <td class='text-center'>
                                    <input name='{{torra[0]}}' class="form-check-input" type="checkbox"
                                        value="{{torra[0]}}" id="flexCheckDefault">
                                </td>
                                <td class='text-center'>
                                    <a href='/torra?id={{torra[0]}}' title='abrir'>📂</a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                        <tr>
                            <td colspan=10 class='text-center'><button class='sombra btn btn-success botao_grande mt-1 mb-1' type='submit'>comparar
                                    torras</button></td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>

    </div>
</section>
{% endblock %}