{% extends 'base.html' %}

{% block body %}
<section>
    <div class='container' style='display: flex;'>
        <div class='row' style='margin:0 auto;'>
            <div class='col-lg-6' style='margin:0 auto;'>
                <table class='table table-light table-hover'>
                    {% for valor in torra %}
                    <tr>
                        <td>
                            temperatura inicial:
                        </td>
                        <td>
                            {{valor[2]|replace('.',',')|replace("None","")}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            temperatura final:
                        </td>
                        <td>
                            {{valor[3]|replace('.',',')|replace("None","")}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            piso:
                        </td>
                        <td>
                            {{valor[4]|replace('.',',')|replace("None","")}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            fluxo de ar:
                        </td>
                        <td>
                            {{valor[6]|replace('.',',')|replace("None","")}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            velocidade do tambor:
                        </td>
                        <td>
                            {{valor[7]|replace('.',',')|replace("None","")}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            peso:
                        </td>
                        <td>
                            {{valor[8]|replace('.',',')|replace("None","")}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            data da torra:
                        </td>
                        <td>
                            {{valor[9]|replace("None","")}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 style='text-align: left;'>
                            {{valor[10] | replace('None','')}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 style='text-align: left;'>
                            {{ descricao_cafe|replace("None","") }}
                        </td>
                    </tr>

                    {% endfor %}
                </table>
            </div>
            <div class='col-lg-6' style='margin:0 auto;'>
                <table class='table table-hover table-light'>
                    <tr>
                        <th>minuto</th>
                        <th>temperatura</th>
                    </tr>
                    {% for a,b in grid_torra.items() %}
                    <tr>
                        <td>{{a|replace('tempgrid','')}}</td>
                        <td>{{b[0]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
<section>
    <div class='div_formulario' style='margin: 0 auto;'>
        <img style='border: 1px #666666 solid;' class='img-fluid' src='static/img/grafico.png?r={{randomico}}'>
    </div>
</section>
<footer>
    <div class='container'>
        <div class='row mb-4' style='border-top: 1px  solid #dfe0e1; border-bottom: 1px solid #dfe0e1;'>
            <div class='col'>
                <div class="btn-group dropup">
                    <button type="button" class="btn-sm btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        editar
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/edita_torra?id={{id}}">editar</a></li>
                    </ul>
                </div>
            </div>
            <div class='col'>
                <div class="btn-group dropup">
                    <button type="button" class="btn-sm btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        apagar
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item danger_hover" href="/apaga_torra?id={{id}}">apagar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}