{% extends 'base.html' %}

{% block body %}
<section>
    <div class='container-lg'>
        <div class='row mt-3' style='display: flex; justify-content: space-between'>
            <form name='inserir' class='sombra' style='width: fit-content;' method='post' action='/form_torra'>
                <div class='col-4'>
                    <div class='d-inline-flex' style='text-align: left; width:25em'>
                        <button type='submit' id='botao_torras' class='btn btn-lg btn-primary'
                            style='border-radius: 5px 0 0 5px; background-color: steelblue;' href='/form_torra'>
                            inserir nova torra
                        </button>{{select|safe}}
                    </div>
                </div>
            </form>
            <div style="width: fit-content; display: flex">
                <div class='col-4' style="display: flex; justify-content: end; width: fit-content">
                    <a href="/torras?mostra_torras=primeiras" style='margin: 0 5px 0 0'>
                        <button title='selecione as torras que deseja comparar e clique aqui'
                            class='btn btn-lg btn-secondary'>
                            primeiras
                        </button>
                    </a>
                    <a href="/torras?mostra_torras=todas" style='margin: 0 10px 0 0'>
                        <button title='selecione as torras que deseja comparar e clique aqui'
                            class='btn btn-lg btn-secondary'>
                            todas
                        </button>
                    </a>
                </div>
                <div class='col-4' style="display: flex; justify-content: end; width: fit-content">
                    <form name='torras' method='post' action='/compara_torras'>
                        <button title='selecione as torras que deseja comparar e clique aqui'
                            class='btn btn-lg btn-success' type='submit'>
                            comparar torras
                        </button>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <table class='table table-hover'>

                    <thead>
                        <tr style='border: black solid 1px;'>
                            <th>
                                <a href='torras?ord=id&asc_desc={{asc_desc}}'>id</a>
                            </th>
                            <th>
                                <a href='torras?ord=id_cafe&asc_desc={{asc_desc}}'>id do café</a>
                            </th>
                            <th>
                                <a href='torras?ord=temp_inicial&asc_desc={{asc_desc}}'>temp. inicial</a>
                            </th>
                            <th>
                                <a href='torras?ord=temp_final&asc_desc={{asc_desc}}'>temp. final</a>
                            </th>
                            <th>
                                <a href='torras?ord=temp_piso&asc_desc={{asc_desc}}'>temp. piso</a>
                            </th>
                            <th>
                                <a href='torras?ord=fluxo_ar&asc_desc={{asc_desc}}'>fluxo de ar</a>
                            </th>
                            <th>
                                <a href='torras?ord=velocidade_tambor&asc_desc={{asc_desc}}'>vel. tambor</a>
                            </th>
                            <th>
                                <a href='torras?ord=peso&asc_desc={{asc_desc}}'>peso</a>
                            </th>
                            <th>
                                <a href='torras?ord=data_torra&asc_desc={{asc_desc}}'>data da torra</a>
                            </th>
                            <th title='selecione as torras e clique no botão abaixo'>
                                comparar
                            </th>
                            <th>
                                abrir
                            </th>
                        </tr>
                    </thead>
                    <tbody class='table-light'>
                        <tr>

                            {% for torra in torras%}
                            <td class='text-end'>
                                {{torra[0]|replace("None","")}}
                            </td>
                            {% for descricao in descricao_cafes %}
                            {% if torra[1] == descricao[1] %}
                            <td class='text-end'>
                                <a href=# class='link_info' title='{{descricao[0]}}'>{{torra[1]}}</a>
                            </td>
                            {% endif %}
                            {% endfor %}
                            <td class='text-end'>
                                {{torra[2]|replace('.',',')|replace("None","")}}
                            </td>
                            <td class='text-end'>
                                {{torra[3]|replace('.',',')|replace("None","")}}
                            </td class='text-end'>
                            <td class='text-end'>
                                {{torra[4]|replace('.',',')|replace("None","")}}
                            </td>
                            <td class='text-end'>
                                {{torra[6]|replace('.',',')|replace("None","")}}
                            </td>
                            <td class='text-end'>
                                {{torra[7]|replace('.',',')|replace("None","")}}
                            </td>
                            <td class='text-end'>
                                {{torra[8]|replace('.',',')|replace("None","")}}
                            </td>
                            <td class='text-end'>
                                {{torra[9]|replace("None","")}}
                            </td>
                            <td class='text-center'>
                                <input name='{{torra[0]}}' title='selecione para comparar torras'
                                    class="form-check-input" type="checkbox" value="{{torra[0]|replace('None','')}}"
                                    id="{{torra[0]}}"
                                    style='margin: 0 auto; background-color: gray;border:1px solid black;width:1.5em;height:1.5em'>
                            </td>
                            <td class='text-center'>
                                <a class='btn btn-sm btn-dark' href='/torra?id={{torra[0]}}'>
                                    abrir
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                    <tr>
                        <td colspan=11 class='text-center' style='background-color: #d7d0e8'>
                        </td>
                    </tr>
                    </form>
                </table>
            </div>
        </div>

    </div>
</section>
{% endblock %}